@using MyPortfolio.Data.Abstract
@using MyPortfolio.Entities.Concrete
@inject IGenericRepository<NavbarItem> NavbarRepo

@{
    ViewData["Title"] = "Ana Sayfa";
    var activeItems = NavbarRepo.GetList().Where(x => x.IsActive).OrderBy(x => x.DisplayOrder).ToList();
    var layoutMode = ViewBag.LayoutMode as string ?? "SinglePage";
}

@foreach (var item in activeItems)
{
    // MultiPage modunda sadece hero bolumunu goster
    if (layoutMode == "MultiPage" && item.SectionId != "hero")
    {
        continue;
    }

    switch (item.SectionId)
    {
        case "hero":
            <div id="component-FeatureList">@await Component.InvokeAsync("FeatureList")</div>
            break;
        case "about":
            <div id="component-AboutList">@await Component.InvokeAsync("AboutList")</div>
            break;
        case "services":
            <div id="component-ServiceList">@await Component.InvokeAsync("ServiceList")</div>
            break;
        case "skills":
            <div id="component-SkillList">@await Component.InvokeAsync("SkillList")</div>
            break;
        case "projects":
            <div id="component-ProjectList">@await Component.InvokeAsync("ProjectList")</div>
            break;
        case "testimonials":
            <div id="component-TestimonialsList">@await Component.InvokeAsync("TestimonialsList")</div>
            break;
        case "contact":
            <div id="component-ContactList">@await Component.InvokeAsync("ContactList")</div>
            break;
    }
}